body{
  display: flex;
  height: 600px;
  font-family: arial;
  font-size: 16px;
}

#sideBar{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  padding-right: 2%;
  border-right: solid 1px black;
  min-width: 17%;
}

#viewDiv{
  margin-left: 7%;
}

a {
  text-decoration: none;
  color: #FF0074;
}

.messageBody{
  margin-left: 5%;
  max-width: 60%;
}

.messageHeader{
  font-size: 120%;
}

#gottaLogin{
  color: #FF0074;
}

#allTopics{
  border-top: dotted 1px black;
}

#createNew{
  border-top: dotted 1px black;
}

#welcomeMessage{
  width: 850px;
}

#giraffe{
  float: right;
}

#latestList{
  line-height: 130%;
}

.latest{
  margin-bottom: 3%;
}

#subtitle{
  text-align: center;
}